{{#each articles as |article|}}
  <div class="blog-post">

    <h3>{{article.title}}</h3>

    {{!-- Author: {{#link-to 'blog.authors' article.author.id}}{{article.author.name}}{{/link-to}} --}}
    {{!-- Category: {{#link-to 'blog.categories' article.category.id}}{{article.category.name}}{{/link-to}} --}}
    Date: {{moment-format article.createdAt 'L'}}

    <hr>

    {{{article.body}}}

    {{#if (and session.isAuthenticated (eq article.category.name user.account.department))}}
      <div class="callout">
        {{#link-to 'blog.edit' article.id class="success small button"}}Edit{{/link-to}}
        <button type="button" class="alert small button" {{action "delete" article}}>Delete</button>
        <span></span>
      </div>
    {{/if}}

  </div>
{{/each}}

{{yield}}
